<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Develop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" th:href="@{css/main.css}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|PT+Sans+Caption:400,700" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon-16x16.png">
</head>


<body>
<!--  HEADER-->
<div class="header_contacts_page">
    <div class="container">
        <nav>
            <ul class="menu">
                <li>
                    <a href="/home">Home</a>
                </li>
            </ul>
        </nav>
        <ol>
            <li>Velcom +64589785857</li>
            <li>MTS: +64589785859</li>

        </ol>

        <ul>
            <li>Life) +64788578728 </li>
            <li>Home Phone 8029482503</li>
        </ul>
    </div>

    <div class="header__title_contact">Karpovich Dmitry <br> android | backend</div>
    <div class="header__slogan_contact">Email: karpovicdi@hotmail.com<br>GitHub: https://github.com/karpovichDima<br></div>
    <!--  HEADER-->
</div>
</body>
</html>