<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Develop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" th:href="@{css/main.css}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|PT+Sans+Caption:400,700" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{favicon-16x16.png}">
</head>

<body>
<!--  HEADER-->
<div class="work_space">
    <div class="message_box">
        <form action="http://localhost:8080//signup">
            <div class="introduce">
                <a>Please, Introduce yourself and leave your email.</a>
            </div>
            <input  type="text" name="name" placeholder="name" class="input-text">
            <input  type="text" name="email" placeholder="email" class="input-text">
            <input id = "button_send" type="submit" value="button_send">
        </form>
    </div>
    <div class="header">
        <div class="container">
            <nav>
                <ul class="menu">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/contacts">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__title">Karpovich Dmitry</div>
        <div class="header__slogan">Android<br>Backend<br>Develop</div>
        <div class="header__arrow">
            <a href="#services"> <i class="fa fa-chevron-down" aria-hidden="true"> </i></a>
        </div>
    </div>
</div>
<!--  HEADER-->

<!--    PORTFOLIO-->
<section id="portfolio">
    <div class="portfolio">
        <div class="container">
            <div class="title">Portfolio</div>
            <div class="row">
                <!--        Project 1    -->
                <div class="col-4">
                    <div class="portfolio-item">
                        <div class="portfolio-item_img">
                            <img th:src="@{project_chat.jpg}"/>
                        </div>
                        <div class="portfolio-item_title">
                            <p><a href="/chatauri">Chatauri</a></p>
                            <!--READY-->
                        </div>
                        <div class="portfolio-item_text">
                            <p>Simple chat in material design.</p>
                        </div>
                    </div>
                </div>
                <!--   //   Project 1    -->

                <!--        Project 2    -->
                <div class="col-4">
                    <div class="portfolio-item">
                        <div class="portfolio-item_img">
                            <img th:src="@{project_weather.jpg}"/>
                        </div>
                        <div class="portfolio-item_title">
                            <a href="/weather">SadWeather</a>
                        </div>
                        <div class="portfolio-item_text">
                            <p>Application for monitoring current weather and forecasting for the following days.</p>
                        </div>
                    </div>
                </div>
                <!--   //   Project 2    -->

                <!--        Project 3    -->
                <div class="col-4">
                    <div class="portfolio-item">
                        <div class="portfolio-item_img">
                            <!--<img src="../static/project_analizer.jpg">-->
                            <img th:src="@{project_analizer.jpg}"/>
                        </div>
                        <div class="portfolio-item_title">
                            <a href="/analiz">ActivityAnalyzer</a>
                        </div>
                        <div class="portfolio-item_text">
                            <p>Analysis of the progress of your activity in any field.</p>
                        </div>
                    </div>
                </div>
                <!--   //   Project 3    -->
            </div>
        </div>
    </div>
</section>
<!--    PORTFOLIO-->

<!--    FOOTER-->
<section id="services">
    <div class="container">
        <div class="title">
            <h2>Services</h2>
            <p>How can I help:</p>
        </div>
        <div class="services">
            <div class="services__item">
                <!--<img src="../static/if_alien-2_2981801.png">-->
                <img th:src="@{if_alien-2_2981801.png}"/>
                <h3>Android application</h3>
                <p>Development of an application for your order, according to a clearly defined request.</p>
            </div>
            <div class="services__item">
                <!--<img src="../static/if_death-star_2981784.png">-->
                <img th:src="@{if_death-star_2981784.png}"/>
                <h3>Design</h3>
                <p>Assistance with software engineering and architecture design
                    in areas such as relational databases, server development.</p>
            </div>
            <div class="services__item">
                <!--<img src="../static/if_cassiopeia_2981805.png">-->
                <img th:src="@{if_cassiopeia_2981805.png}"/>
                <h3>Write tests</h3>
                <p>Testing the application for vulnerabilities, writing QA tests.</p>
            </div>
        </div>
    </div>
</section>
<!--    FOOTER-->

</body>
</html>